<h1>Artists</h1>

<div id="artists">
  <% @artists.each do |artist| %>
    <div class="artist">
      <%= link_to artist_path(artist) do %>
        <%= cl_image_tag artist.photo, class: "avatar-xxl" %>
        <h5 class="text-center"><%= artist.name %></h5>
      <% end %>
    </div>
  <% end %>
</div>
